{% extends "base.html" %}

{% block "title" %}Контакти{% endblock %}

{% block "header" %}Контакти{% endblock %}

{% block "body" %}
<ul class="nav nav-pills nav-justified mt-3">
  <li class="nav-item">
    <a class="nav-link text-warning active" href="#">Мої контакти</a>
  </li>
  {% if perms.contacts.add_contact %}
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'contacts:add' %}">Додати контакт</a>
  </li>
  {% endif %}
  {% if user.is_staff %}
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'admin:index' %}">Admin</a>
    </li>
  {% endif %}
</ul>

{% if contacts or query %}
<form method="get" class="row mt-3">
  <div class="col-11">
    <input name="q" type="text" placeholder="Search" value="{{ query }}" class="form-control">
  </div>
  <div class="col-1">
    <button type="submit" class="btn" style="color: black; background-color: white;">Search</button>
  </div>
</form>
{% endif %}

<table class="table table-hover text-white mt-5">
  {% if contacts %}
  <thead>
    <tr>
      <th>ФІО</th>
      <th>Телефон</th>
      <th>Адреса</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% endif %}
    {% for contact in contacts %}
    <tr>
      <td>{{ contact.full_name }}</td>
      <td>{{ contact.phone_number }}</td>
      <td>{{ contact.address }}</td>
      <td>
	{% if perms.contacts.delete_contact %}
	<button class="btn btn-danger"
		data-bs-toggle="modal"
		data-bs-target="#deleteContact{{ contact.id }}">
	  Видалити
	</button>

	<!-- Modal -->
	<div class="modal text-black" id="deleteContact{{ contact.id }}">
  	  <div class="modal-dialog">
    	    <div class="modal-content">
	      <div class="modal-header">
          	<h4 class="modal-title">Дійсно видалити контакт?</h4>
        	<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      	      </div>
      
	      <div class="modal-body">
		<div><b>Full name:</b> {{ contact.full_name }}</div>
		<div><b>Phone number:</b> {{ contact.phone_number }}</div>
		<div><b>Address:</b> {{ contact.address }}</div>
	      </div>
      
	      <div class="modal-footer">
		<form method="post" action="{% url 'contacts:delete' contact.id %}">
		  {% csrf_token %}
		  <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Видалити</button>
		</form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- End modal -->
	{% endif %}
      </td>
    </tr>
    {% empty %}
    <div class="alert alert-warning mt-3" role="alert">
      {% if query %}
        No contact is found
      {% else %}
      	You have no contact
      {% endif %}
    </div>
    {% endfor %}
  </tbody>
</table>

<form method="get" action="{% url 'contacts:download' %}">
  <input type="submit" class="btn btn-light" value="Download contacts">
</form>
{% endblock %}
